<h1>OpenANM2 dependency licenses</h1>

<h3>Libraries</h3>
<ul>
  <li><a href="./licenses/gem/arcball.html">Arcball</a></li>
  <li><a href="./licenses/gem/fileutils.html">FileUtils</a></li>
  <li><a href="./licenses/gem/modularity.html">Modularity</a></li>
  <li><a href="./licenses/gem/propane.html">Propane</a></li>
  <li><a href="./licenses/gem/rake.html">Rake</a></li>
  <li><a href="./licenses/gem/rexml.html">REXML</a></li>
  <li><a href="./licenses/gem/to_bool.html">ToBool</a></li>
</ul>

<h3>Binaries</h3>
<ul>
  <li><a href="./licenses/bin/ffmpeg.html">FFmpeg</a></li>
</ul>

<h3>Fonts</h3>
<ul>
  <li><a href="./licenses/font/heebo.html">Heebo</a></li>
</ul>